
.recommendations {
  margin-top: 20px;
}

#mainSlider {
  height: auto;
  min-height: auto;
}

#electronicSlider {
  min-height: 300px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
