#electronicSlider {
  height: 90%;
  min-height: 300px;
}
.product-card h5 {
  font-size: 1.0rem; 
  margin: 8px 0;
}

.rating {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.text-warning {
  color: gold !important;
}

.text-muted {
  color: #ccc !important;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black; 
  background-size: 100%, 100%;
  border-radius: 50%;
  padding: 20px;
  opacity: 1; 
}

.product-card {
  width: 10%;
  max-width: 60px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 4px  rgba(0.8,0.8,0.8,0.08);
  text-align: center;
  overflow: visible;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card img {
  height: 200px;
  object-fit: contain;
  margin-top: 10px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 12px;
}

.product-card:hover {
  transform: translateY(-10px);
}