.product-card {
  width: 10%;
  max-width: 20px;
  height: 380px;
  background-color: #fff;
  border-radius: 12px;
  text-align: center;
  overflow: visible;
  transition: transform 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 20px;
}

.product-card img {
  height: 200px;
  object-fit: contain;
  margin-top: 10px;
}

.product-card .price {
  font-size: 18px;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 12px;
}

.product-card:hover {
  transform: translateY(-5px);
}