.product-card {
  width: 100%;
  max-width: 270px;
  margin: 0 auto;
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: visible;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.08);
  padding: 15px;
  height: auto;          
  min-height: unset;   
  padding-bottom: 15px;  
}

.product-card img {
  object-fit: contain; 
  margin: 0 auto;
  display: block;
}


.rating {
  display: flex;
  justify-content: center;
  margin: 5px 0; 
}

.rating i {
  font-size: 0.9rem; 
  margin-right: 2px;
}


.price {
  font-size: 0.9rem;  
  font-weight: bold;
  color: #28a745;
  margin-top: 3px;
  margin-bottom: 8px;
}


.star {
  font-size: 1.4rem;
  margin-right: 3px;
}

.text-warning {
  color: gold !important;
}

.text-muted {
  color: #ccc !important;
}

.rating i {
  font-size: 1.2rem;
}


.slick-slide {
  padding: 0 10px;
}

.slick-prev,
.slick-next {
  background: #eee;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  z-index: 2;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 20px;
}