.recommendations {
  margin-bottom: 0;
  padding-bottom: 1rem;
}

.rec-product-card {
  width: 100%;
  max-width: 260px;
  min-height: 260px; 
  background-color: #fff;
  text-align: center;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 8px;
}

.rec-product-card img {
   height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}


.rating {
  display: flex;
  justify-content: center;
  margin: 5px 0; 
}

.rating i {
  font-size: 0.9rem; 
  margin-right: 2px;
}


.price {
  font-size: 0.9rem;  
  font-weight: bold;
  color: #28a745;
  margin-top: 3px;
  margin-bottom: 8px;
}


.star {
  font-size: 1.4rem;
  margin-right: 3px;
}

.text-warning {
  color: gold !important;
}

.text-muted {
  color: #ccc !important;
}

.rating i {
  font-size: 1.2rem;
}


.slick-slide {
  padding: 0 15px;
  overflow: visible;
}


.wider-container recommendations {
  max-width: 100%; 
  padding-left: 2rem;
  padding-right: 2rem;
}


.slick-prev,
.slick-next {
  background: #eee;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  z-index: 2;
}

.slick-prev:before,
.slick-next:before {
  color: black;
  font-size: 35px;
}

.rec-product-card:hover {
    transform: translateY(-8px);
  z-index: 2;
}

@media (max-width: 576px) {
  .rec-product-card {
    min-height: 280px;
  }

  .rec-product-card img {
    height: 140px;
  }

  .rec-product-card h5 {
    height: 36px;
  }
}
